@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6;
  background-color: #464444;
  color: lightgray;
}

.whats {
  position: fixed;
  bottom: 0px;
  right: 1em;
  z-index: 123456;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 10px;
}

.logo-container, .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NavBar styles */
.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .dropdown-menu {
  background-color: #464444;
}

.dropdown-item {
  color: lightgrey;
}

.dropdown-item:hover {
  background-color: grey;
  color:#464444;
}

.nav-item > a {
  color: lightgrey;
}

.nav-item > a:hover {
  color: grey;
}

.nav-link.dropdown-toggle.show {
  border: none;
  color: grey;
}

.lang-sel {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 8px;
}

.es {
  margin-left: 5px;
}

.en {
  margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  width: 30px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 4px;
  background-color: rgb(225, 129, 3);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2a2a2a;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}